<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="footer-title">
          Get to Know Us
        </div>
        <div class="footer__list">
          <a routerLink="/" class="footer__list-item">About Us</a>
          <a routerLink="/" class="footer__list-item">Careers</a>
          <a routerLink="/" class="footer__list-item">Media</a>
          <a routerLink="/" class="footer__list-item">Security &amp; Privacy</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="footer-title">
          LEARN MORE ABOUT
        </div>
        <div class="footer__list">
          <a routerLink="/" class="footer__list-item">Blog</a>
          <a routerLink="/" class="footer__list-item">Find a Florist</a>
          <a routerLink="/" class="footer__list-item">Floral Tips &amp; Inspiration</a>
          <a routerLink="/" class="footer__list-item">Sitemap</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="footer-title">
          SHOP VICKY’S
        </div>
        <div class="footer__list">
          <a routerLink="/" class="footer__list-item">Same-Day Flower Deavery</a>
          <a routerLink="/" class="footer__list-item">Birthday Flowers</a>
          <a routerLink="/" class="footer__list-item">Funeral &amp; Sympathy Flowers</a>
          <a routerLink="/" class="footer__list-item">International Flower Deavery</a>
        </div>
      </div>
    </div>
  </div>
</footer>