<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-3 col-sm-3">
        <div class="header-logo">
          <img alt="Vicky's" src="./assets/svg/logo.svg" />
        </div>
        <div class="header__items d-none d-lg-inline-block">
          <a routerLink="/" class="header__items-link">Home</a>
          <a routerLink="/" class="header__items-link">About Us</a>
          <a routerLink="/" class="header__items-link">Occassions</a>
          <a routerLink="/" class="header__items-link">Order</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-9 col-sm-9 text-right navbar-dark">
        <module-cart-app></module-cart-app>

        <button class="header__nav navbar-toggler d-sm-inline-block d-md-inline-block d-lg-none" (click)="toggleNav()">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="nav" class="header__nav__items">
    <div class="container">
      <a routerLink="/" class="header__nav__items-link">Home</a>
      <a routerLink="/" class="header__nav__items-link">About Us</a>
      <a routerLink="/" class="header__nav__items-link">Occassions</a>
      <a routerLink="/" class="header__nav__items-link">Order</a>
    </div>
  </div>
</header>