<header class="header">
  <div class="container">
    <div class="row">
      <div class="col col-md-9">
        <div class="header-logo">
          <img alt="Vicky's" src="./assets/svg/logo.svg" />
        </div>
        <div class="header__items">
          <a routerLink="/" class="header__items-link">Home</a>
          <a routerLink="/" class="header__items-link">About Us</a>
          <a routerLink="/" class="header__items-link">Occassions</a>
          <a routerLink="/" class="header__items-link">Order</a>
        </div>
      </div>
      <div class="col col-md-3">
        
      </div>
    </div>
  </div>
</header>