header {
  background: $foreground;

  .header {
    padding: 10px 0;

    &-logo {
      width: 85px;
      height: 43px;
      object-fit: contain;
    }

    &__items {
      display: flex;
      flex-basis: 20%;
      align-items: flex-start;

      &-link {
        @include font-size(16px);
        font-weight: 600;
        color: #ffffff;
      }
    }
  }
}