header {
  background: $foreground;
  padding: 6px 0;

  .header {

    &-logo {
      display: inline-block;
      margin-right: 10px;
    }

    &__items {
      font-family: 'Raleway', sans-serif;
      display: inline-flex;
      flex-basis: 20%;
      align-items: flex-start;

      &-link {
        @include font-size(16px);
        padding: 10px 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: #ffffff;
      }
    }

    &__nav {
      margin-left: 20px;

      &__items {
        margin-top: 4px;
        margin-bottom: -6px;
        padding: 10px 0px;
        background: #333;
        display: none;

        @media only screen and (max-width: $tablet) {
          display:block;
        }

        &-link {
          display: block;
          padding: 10px 0;
          text-align: center;
          color: #fff;
        }
      }
    }
  }

  .row {
    > div {
      @media only screen and (max-width: $mobile) {
        width: 50%;
      }
    }
  }
}
